In [1]:
import pandas as pd

In [2]:
import xgboost

In [3]:
import psycopg2

In [4]:
conn = psycopg2.connect(host="db", database="postgres", user="postgres", password="example")

In [5]:
cursor = conn.cursor()

In [6]:
#cursor.execute("SELECT * FROM wine")

In [7]:
df = pd.read_csv('wine.data')

In [8]:
df.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [9]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:example@db:5432/postgres')

In [13]:
ssa = pd.read_sql_query('SELECT * FROM wine', con=engine)

In [14]:
ssa.head()

,index,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [19]:
cursor.execute('drop table wine')

In [20]:
cursor.execute('commit')

In [21]:
df.to_sql('wine', engine)

177

In [22]:
pd.read_sql_query('SELECT count(*) FROM wine', con=engine)

   count
0    177